<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>

<div class="auth-container">
    <h2>Bienvenido</h2>

    <form method="post">
        <input type="email" name="email"
               placeholder="Correo electrónico" required>

        <input type="password" name="password"
               placeholder="Contraseña" required>

        <button>Entrar</button>
    </form>

    <a href="/register">Crear una cuenta</a>
</div>

</body>
</html>
