<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>

<div class="auth-container">
    <h2>Crear cuenta</h2>

    <form method="post">
        <input type="text" name="nombre" placeholder="Nombre"
               maxlength="50" required>

        <input type="text" name="apellido_p" placeholder="Apellido Paterno"
               maxlength="50" required>

        <input type="text" name="apellido_m" placeholder="Apellido Materno"
               maxlength="50" required>

        <input type="email" name="email" placeholder="Correo electrónico"
               maxlength="150" required>

        <!-- Calendario / rueda automática -->
        <input type="date" name="fecha_nacimiento"
               max="2010-12-31" required>

        <input type="password" name="password" placeholder="Contraseña"
               minlength="8" maxlength="50" required>

        <button>Registrarse</button>
    </form>

    <a href="/login">¿Ya tienes cuenta? Inicia sesión</a>
</div>

</body>
</html>
